# Assignment 2, User-user collaborative filtering

In [1]:
import pandas as pd
import numpy as np

## Read file

In [70]:
df_movie_row = pd.read_excel(open("UUCF Assignment Spreadsheet.xls", "rb"), sheet_name="movie-row")
df_movie_row.set_index('Unnamed: 0', inplace=True)
df_movie_row.index.name = "Movie"
df_movie_row.columns.name = "User"
df_movie_row.head()

User,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
Movie,,,,,,,,,,,,,,,,,,,,,
11: Star Wars: Episode IV - A New Hope (1977),NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.0,NaN,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN
12: Finding Nemo (2003),NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,4.0,NaN,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5
13: Forrest Gump (1994),NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,4.0,5.0,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5
14: American Beauty (1999),NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,4.0,NaN,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN
22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,3.0,1.5,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5

## Compute the correlation between every user

In [20]:
df_corr = df_movie_row.corr(method="pearson")
np.fill_diagonal(df_corr.values, 0)
df_corr.head()

User,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
User,,,,,,,,,,,,,,,,,,,,,
1648,0.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,-0.191988,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048
5136,0.402980,0.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.488607,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067
918,-0.142206,0.118979,0.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.373226,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162
2824,0.517620,0.057916,-0.317063,0.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,-0.201275,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999
3867,0.300200,0.341734,0.294558,-0.060913,0.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.174085,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856

# Part 1 - Without normalization

## Find top 5 neighbours and predict ratings

In [71]:
def find_neighbours(user, top_n, df_correlation):
    topn_neighbours = df_correlation.loc[user].nlargest(top_n)
    user_correl_col = df_correlation.loc[user]
    user_correl_col[user_correl_col < topn_neighbours.iloc[top_n - 1]] = 0
    return user_correl_col

def predict_movies_without_norm(user, neighbours, df_movie_ratings):
    df_movie_ratings = df_movie_ratings.fillna(0)
    sum_neighbour_ratings = df_movie_ratings @ neighbours
    
    df_movie_ratings[df_movie_ratings > 0] = 1
    sum_weights = df_movie_ratings @ neighbours
    
    movie_predictions = sum_neighbour_ratings/sum_weights
    movie_predictions.sort_values(ascending=False, inplace=True)
    return movie_predictions

## User #3712

In [72]:
neighbours = find_neighbours(89, 5, df_corr)
movie_predictions = predict_movies_without_norm(89, neighbours, df_movie_row)

In [73]:
movie_predictions

Movie
238: The Godfather (1972)                                                                              4.894124
278: The Shawshank Redemption (1994)                                                                   4.882194
807: Seven (a.k.a. Se7en) (1995)                                                                       4.774093
275: Fargo (1996)                                                                                      4.770944
424: Schindler's List (1993)                                                                           4.729056
122: The Lord of the Rings: The Return of the King (2003)                                              4.695962
13: Forrest Gump (1994)                                                                                4.601470
38: Eternal Sunshine of the Spotless Mind (2004)                                                       4.551396
453: A Beautiful Mind (2001)                                                                           4.543231
121: The Lord of the Rings: The Two Towers (2002)                                                      4.527800
120: The Lord of the Rings: The Fellowship of the Ring (2001)                                          4.527800
105: Back to the Future (1985)                                                                         4.520674
550: Fight Club (1999)                                                                                 4.517565
194: Amelie (2001)                                                                                     4.510375
8587: The Lion King (1994)                                                                             4.505207
680: Pulp Fiction (1994)                                                                               4.494441
274: The Silence of the Lambs (1991)                                                                   4.476383
603: The Matrix (1999)                                                                                 4.453258
329: Jurassic Park (1993)                                                                              4.395617
568: Apollo 13 (1995)                                                                                  4.383611
85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)                     4.359637
857: Saving Private Ryan (1998)                                                                        4.345938
155: The Dark Knight (2008)                                                                            4.332654
77: Memento (2000)                                                                                     4.329285
12: Finding Nemo (2003)                                                                                4.267451
1891: Star Wars: Episode V - The Empire Strikes Back (1980)                                            4.258783
862: Toy Story (1995)                                                                                  4.255445
1422: The Departed (2006)                                                                              4.250475
8358: Cast Away (2000)                                                                                 4.229056
161: Ocean's Eleven (2001)                                                                             4.219715
                                                                                                         ...
2024: The Patriot (2000)                                                                               3.531329
1572: Die Hard: With a Vengeance (1995)                                                                3.525210
604: The Matrix Reloaded (2003)                                                                        3.518462
602: Independence Day (a.k.a. ID4) (1996)                                                              3.511119
9741: Unbreakable (2000)                                                                               3.500000
2164: Stargate (1994)                                                                                  3.500000
9331: Clear and Present Danger (1994)                                                                  3.500000
114: Pretty Woman (1990)                                                                               3.500000
63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                                          3.492586
664: Twister (1996)                                                                                    3.490445
187: Sin City (2005)                                                                                   3.488344
581: Dances with Wolves (1990)                                                                         3.437341
280: Terminator 2: Judgment Day (1991)                                                                 3.347981
36955: True Lies (1994)                                                                                3.265665
3049: Ace Ventura: Pet Detective (1994)                                                                3.225907
8467: Dumb & Dumber (1994)                                                                             3.197648
462: Erin Brockovich (2000)                                                                            3.187169
558: Spider-Man 2 (2004)                                                                               3.165317
557: Spider-Man (2002)                                                                                 3.148855
671: Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    3.130388
1597: Meet the Parents (2000)                                                                          3.110830
9802: The Rock (1996)                                                                                  3.031329
1637: Speed (1994)                                                                                     3.016144
672: Harry Potter and the Chamber of Secrets (2002)                                                    3.011777
1894: Star Wars: Episode II - Attack of the Clones (2002)                                              2.972200
414: Batman Forever (1995)                                                                             2.816344
268: Batman (1989)                                                                                     2.500000
4327: Charlie's Angels (2000)                                                                          2.476688
7443: Chicken Run (2000)                                                                               2.448888
1900: Traffic (2000)                                                                                   2.374337
Length: 100, dtype: float64

## Part 2 - Normalization

In [78]:
def predict_movies_with_norm(user, neighbours, df_movie_ratings):
    movie_ratings = df_movie_ratings.copy()
    user_mean = movie_ratings.mean(axis=0)
    norm_movie_ratings = movie_ratings - user_mean
    sum_neighbour_ratings = norm_movie_ratings.fillna(0) @ neighbours
    
    movie_rates_exist = df_movie_ratings.copy().fillna(0)
    movie_rates_exist[movie_rates_exist > 0] = 1
    sum_weights = movie_rates_exist @ neighbours
    
    movie_predictions = (sum_neighbour_ratings/sum_weights) + df_movie_ratings[[user]].mean().values[0]
    movie_predictions.sort_values(ascending=False, inplace=True)
    return movie_predictions

In [80]:
neighbours = find_neighbours(89, 5, df_corr)
predict_movies_with_norm(89, neighbours, df_movie_row)

Movie
238: The Godfather (1972)                                                                              5.322015
278: The Shawshank Redemption (1994)                                                                   5.261424
275: Fargo (1996)                                                                                      5.241111
807: Seven (a.k.a. Se7en) (1995)                                                                       5.201984
424: Schindler's List (1993)                                                                           5.199223
122: The Lord of the Rings: The Return of the King (2003)                                              5.186846
105: Back to the Future (1985)                                                                         5.073048
550: Fight Club (1999)                                                                                 5.069939
13: Forrest Gump (1994)                                                                                5.049074
680: Pulp Fiction (1994)                                                                               5.046814
120: The Lord of the Rings: The Fellowship of the Ring (2001)                                          5.018683
121: The Lord of the Rings: The Two Towers (2002)                                                      5.018683
77: Memento (2000)                                                                                     4.977640
329: Jurassic Park (1993)                                                                              4.947991
568: Apollo 13 (1995)                                                                                  4.935985
8587: The Lion King (1994)                                                                             4.933098
38: Eternal Sunshine of the Spotless Mind (2004)                                                       4.930626
453: A Beautiful Mind (2001)                                                                           4.922460
274: The Silence of the Lambs (1991)                                                                   4.904274
603: The Matrix (1999)                                                                                 4.900863
85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)                     4.850521
12: Finding Nemo (2003)                                                                                4.819825
1891: Star Wars: Episode V - The Empire Strikes Back (1980)                                            4.811156
862: Toy Story (1995)                                                                                  4.807819
194: Amelie (2001)                                                                                     4.807152
155: The Dark Knight (2008)                                                                            4.780258
857: Saving Private Ryan (1998)                                                                        4.773829
745: The Sixth Sense (1999)                                                                            4.710006
585: Monsters Inc. (2001)                                                                              4.706773
8358: Cast Away (2000)                                                                                 4.699223
                                                                                                         ...
36658: X2: X-Men United (2003)                                                                         4.136335
1572: Die Hard: With a Vengeance (1995)                                                                4.129204
602: Independence Day (a.k.a. ID4) (1996)                                                              4.063493
809: Shrek 2 (2004)                                                                                    4.053129
63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                                          4.051834
664: Twister (1996)                                                                                    4.042819
854: The Mask (1994)                                                                                   4.018338
146: Crouching Tiger Hidden Dragon (Wo hu cang long) (2000)                                            3.998114
187: Sin City (2005)                                                                                   3.979228
36955: True Lies (1994)                                                                                3.974465
114: Pretty Woman (1990)                                                                               3.970167
604: The Matrix Reloaded (2003)                                                                        3.966067
955: Mission: Impossible II (2000)                                                                     3.922460
280: Terminator 2: Judgment Day (1991)                                                                 3.838865
8467: Dumb & Dumber (1994)                                                                             3.750022
9802: The Rock (1996)                                                                                  3.740130
671: Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    3.682762
1597: Meet the Parents (2000)                                                                          3.663204
462: Erin Brockovich (2000)                                                                            3.657335
3049: Ace Ventura: Pet Detective (1994)                                                                3.653798
557: Spider-Man (2002)                                                                                 3.576746
672: Harry Potter and the Chamber of Secrets (2002)                                                    3.564151
558: Spider-Man 2 (2004)                                                                               3.544547
1637: Speed (1994)                                                                                     3.507027
1894: Star Wars: Episode II - Attack of the Clones (2002)                                              3.463084
414: Batman Forever (1995)                                                                             3.375592
268: Batman (1989)                                                                                     3.183894
4327: Charlie's Angels (2000)                                                                          2.967572
7443: Chicken Run (2000)                                                                               2.939772
1900: Traffic (2000)                                                                                   2.844504
Length: 100, dtype: float64